# ==========================================
# Compiled Files
# ==========================================
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

bin/
build/
target/
out/

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/

# ==========================================
# Eclipse
# ==========================================
.metadata/
.classpath
.project
.settings/
*.launch

# ==========================================
# NetBeans
# ==========================================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ==========================================
# OS Temporary Files
# ==========================================
.DS_Store
Thumbs.db
